<%#
{
"group": "테스트",
"depth1": "테스트2",
"depth2": "테스트3",
"depth3": "",
"depth4": "",
"depth5": "",
"remark": "",
"class": ""
}
#%>
<!doctype html>
<html lang="en">
<head>
  <%- include('./templates/partials/head.ejs') %>
  <link rel="stylesheet" href="../../assets/styles/pages/test.scss">
  <title>TEST</title>
</head>
<body>
<div id="app">
  <%- include('./templates/partials/header.ejs') %>
  <p class="read-the-docs">
    Click on the Vite logo to learn more
  </p>
  <%- include('./templates/partials/footer.ejs') %>
</div>
</body>
</html>
